<div class="relative w-full px-4 ">
    <div class="lg:grid lg:grid-cols-2 gap-4">
        <div>
            <div class="shadow px-4 py-5 bg-white rounded-md col-span-1 w-full">
                <label
                    class="block text-lg font-semibold text-gray-700 mb-2 text-center">รายชื่อผู้เข้ารับพระราชทานปริญญาบัตร
                    ประจำปีการศึกษา 2564 </label>
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg table-wrp block" style="max-height: 80vh;" *ngIf="remain_result">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead
                            class="text-md text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 border-b sticky top-0">
                            <tr>
                                <th scope="col" class="border px-4 py-3 whitespace-nowrap text-center max-w-1/4">
                                    กลุ่ม - ลำดับ
                                </th>
                                <th scope="col" class="border px-4 py-3 text-center max-w-2/4">
                                    ชื่อ
                                </th>
                                <th scope="col" class="border px-4 py-3 text-center max-w-1/4">
                                    Process
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                                *ngFor="let grad of remain_result ; let i = index">
                                <td class="border p-3 whitespace-nowrap dark:text-white text-lg text-center">
                                    {{grad.ceremonygroup}} - {{grad.ceremonysequence}}<span *ngIf="grad.subsequence>0">({{grad.subsequence}})</span>
                                </td>
                                <td class="border p-3 dark:text-white text-lg  ">
                                    {{grad.sname}} <br>
                                    {{grad.facultyname}}
                                </td>
                                <td class="border p-3 whitespace-nowrap dark:text-white text-center">
                                    <button type="button"
                                        class="h-full w-full text-white font-bold uppercase text-xs px-4 rounded shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
                                        [ngClass]="{'bg-orange-400 active:bg-orange-500': i>0, 'bg-green-500 active:bg-green-600': i==0}"
                                        (click)="running_grad(grad.studentcode, grad.ceremonypack)"> <i
                                            class="fa fa-check-circle-o text-lg"></i> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button
                class="mt-8 py-3 rounded-xl font-semibold text-white w-full bg-red-600 shadow hover:shadow-md hover:bg-red-700"
                (click)="refresh_data()"><i class="fa fa-refresh"></i> REFRESH DATA</button>
        </div>
        <div class="col-span-1">
            <div class="w-full h-min mt-4 lg:mt-0">
                <div class="md:grid grid-cols-2 gap-4 content-center space-y-4 md:space-y-0">
                    <div class="space-y-4">
                        <div class="border shadow p-3 bg-white rounded-md">
                            <label class="text-left text-2xl"> จำนวนทั้งหมด ช่วง {{pack}} :</label>
                            <p class="text-center text-4xl text-bold"> {{pack_total | number:'1.0-0'}}</p>
        
                        </div>
                        <div class="border shadow p-3 bg-white rounded-md">
                            <label class="text-left text-2xl"> จำนวนผู้เข้ารับทั้งหมด : </label>
                            <p class="text-center text-4xl text-bold"> {{graduates_count | number:'1.0-0'}}</p>
        
                        </div>
                    </div>
                    <div class="space-y-4">
                        <div class="border shadow p-3 bg-white rounded-md">
                            <label class="text-left text-2xl"> จำนวนคงเหลือ ช่วง {{pack}} : </label>
                            <p class="text-center text-4xl text-bold"> {{pack_remain | number:'1.0-0'}}</p>
        
                        </div>
                        <div class="border shadow p-3 bg-white rounded-md">
                            <label class="text-left text-2xl"> จำนวนผู้เข้ารับแล้ว : </label>
                            <p class="text-center text-4xl text-bold"> {{receive_count | number:'1.0-0'}}</p>
        
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="text-center">
                <div class="inline-flex rounded-md shadow mt-4" role="group">
                    <button type="button" (click)="control_pack('minus')" [disabled]="pack==1"
                        class="px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-200 rounded-l-lg hover:bg-red-500 hover:text-white disabled:bg-gray-200 disabled:text-gray-600 focus:z-10 focus:ring-0 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button"
                        class="uppercase px-4 py-2 text-sm font-semibold text-gray-900 bg-white border-t border-b border-gray-200 disabled:bg-white disabled:text-red-600 focus:z-10 focus:ring-0 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
                        disabled>
                        ceremonypack
                    </button>
                    <button type="button" (click)="control_pack('plus')" [disabled]="pack==pack_max"
                        class="px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-200 rounded-r-md hover:bg-red-500 hover:text-white disabled:bg-gray-200 disabled:text-gray-600 focus:z-10 focus:ring-0 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        
        
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg table-wrp block mt-4" style="max-height: 60vh;"
                *ngIf="receive_result">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead
                        class="text-md text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 border-b sticky top-0">
                        <tr>
                            <th scope="col" class="border px-4 py-3 text-center max-w-1/4">
                                กลุ่ม - ลำดับ
                            </th>
                            <th scope="col" class="border px-4 py-3 text-center max-w-2/4">
                                ชื่อ
                            </th>
                            <th scope="col" class="border px-4 py-3 text-center max-w-1/4">
                                Process
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                            *ngFor="let rec of receive_result">
                            <td class="border px-4 py-3 whitespace-nowrap dark:text-white text-lg text-center">
                                {{rec.ceremonygroup}} - {{rec.ceremonysequence}}
                            </td>
                            <td class="border px-4 py-3 dark:text-white text-lg">
                                {{rec.sname}}
                            </td>
                            <td class="border px-4 py-3 whitespace-nowrap dark:text-white text-center">
                                <button type="button"
                                    class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-md px-4 py-1 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                                    (click)="return_grad(rec.studentcode, rec.ceremonypack)"> <i
                                        class="fa fa-repeat text-md"></i> </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>